.none {
  display: none !important;
}

body {
  font-family: monospace;
  background: #949494;
}

.app {
  display: flex;
  flex-flow: column;

  align-items: center;

  background: #b8ebf2;

}

.news {
  display: flex;
  flex-flow: column;
  background: #ff8819;

  width: 90vw;

  margin: 1em;
}
  .news__counter {
    display: flex;

    margin: 1em;
    padding: 1em;

    background: #6c0065;
    color: #fff;
  }

.article {
  background: #26929d;

  margin: 1em 1em 1em 1em;
  padding: 0.5em;
}

  .article__author {
    background: #cb0000;
    margin: 1em 0 0;
  }

  .article__text {
    background: #00b061;
    margin: 1em 0 0;
  }
  .article__big-text {
    background: #037c46;
    margin: 1em 0 0;
  }

.input {
  display: flex;
  flex-flow: row;
}
  .input-window {
    display: flex;

    width: 50%;

    font-size: 200%;
  }
  .input-btn {
    display: flex;
    width: 10vw;
    height: 5vw;

    justify-content: center;

    font-size: 150%;

    color: rgb(255, 255, 255);
    background: rgb(148, 22, 0);
  }

.add {
  margin: 1em;
  width: 210px;
  padding: 1em;
}

  .add__author,
  .add__text,
  .add__btn,
  .add__checkrule {
    display: flex;
    padding: 0.2em;
    min-width: 210px;

    font-size: 1.5em;
  }

  .add__btn {
    color: #ffffff;
    background: #009d35;
    width: 100%;
  }

  .add__btn:disabled {
    background: #d40000;
    color: #ffffff;
  }
