.reg {
  display: flex;
  padding: 2em;

  flex-flow: column;
}

  .reg-logo {
    display: flex;
  }

  .reg-name {
    display: flex;
  }

  .reg-mail {
    display: flex;
  }

  .reg-password {
    display: flex;
  }

    .reg-btn {
      display: flex;

      color: #0ba31b;
      background: #000;
    }
    .reg-btn:disabled {
      color: #fff;
      background: #500000;
    }
